*
{
  box-sizing: border-box;
}

.calendar-wrapper
{
  --bs-gutter-x: 0;
}

.calendar-nav
{
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.calendar-day
{
  height: 100px;
}

.calendar-day:hover
{
  transition: ease-in-out 200ms;
  background-color: aliceblue;
}

.calendar-day, .calendar-button, .calendar-label
{
  cursor: pointer;
}

.demo
{
  font-size:2rem;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}

.icons
{
  height: 2rem;
}

.past
{
  background-color: lightgray!important;
  cursor: default;
}

.today
{
  background-color: rgb(250, 241, 163)!important;
  transition: ease-in-out 300ms;
}

.today:hover
{
  background-color: rgb(109, 160, 243)!important;
}
